/* Custom styles for Navbar */

/* Ensure search input stays in the center */
.navbar .mx-auto {
    flex-grow: 1;
    justify-content: center;
}

/* Aligns login and sign up buttons to the right */
.navbar .ml-auto {
    display: flex;
    align-items: center;
}

/* Additional styles to ensure no gap between navbar and carousel, if needed */
.navbar {
    margin-bottom: 0;
}

.carousel {
    margin-top: -5px;
    /* Adjust this as needed to remove any gap */
}